// Adding variables for font-family and colors
@use "variables" as *;

// ---------------Footer styling starts here---------------//
footer {
  text-align: center;
  background-color: $primaryBlack;
  color: white;
  height: 5vh;
  p{
    margin: 0;
  }
}
// ---------------Footer styling ends here---------------//