// Adding variables for font-family and colors
@use "./variables" as *;

// Defining the wrapper
.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

// General styling
p,
a {
  font-family: $secondaryFont;
  font-size: 1rem;
}
p {
  line-height: 1.6rem;
}
h2,
h3,
h4 {
  font-family: $primaryFont;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: $primaryFont;
  font-weight: 400;
  font-size: 8.3rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2.815rem;
}
h3 {
  font-size: 2.15rem;
}
h4 {
  font-size: 2.1rem;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
figure {
  margin: 0;
  padding: 0;
}

//Button styling (common to every pages)
.button {
  color: $primaryWhite;
  background-color: $secondaryGreen;
  font-size: 1rem;
  font-family: $primaryFont;
  border: none;
  padding: 10px 25px;
  text-align: center;
  box-shadow: 0 4px 0 $primaryGreen, 0 4px 0 $secondaryGreen,
  0 4px 6px black;
  transition: 0.3s;
}
