@use "variables" as *;

.headerContact {
  height: 75vh;
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
    // Using flex to display nav and h1 on top of each other and with space betwenn
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Using flex to display h1 at the bottom of his parent
  .contactH1 {
    color: $primaryYellow;
    font-size: 4rem;
    line-height: 4.6rem;
    span {
      display: block;
    }
  }

  .HomeContact {
    color: $primaryWhite;
  }
  .Contact {
    color: $primaryYellow;
  }
}
// Adding a parent to flex h1
