@use "variables" as *;

.headerBlog {
  height: 75vh;
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // Using flex to display nav and h1 on top of each other and with space betwenn
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  .blogH1 {
    color: $primaryYellow;
    font-size: 4rem;
  }
  
  .blogBlog {
    color: $primaryYellow;
  }
}


