// Adding variables for font-family and colors
@use "./variables" as *;

// ---------------Media Queries starts here---------------//

// ---------------Home page media queries starts here---------------//

@media (max-width: 750px) {
  // Home page header
  .hIndex {
    height: 65vh;
    // Changing flex direction to display every menus on top of each other
    ul {
      flex-direction: column;
    }
    // Resizing h1
    h1 {
      font-size: 4rem;
      line-height: 3rem;
      text-align: right;
      padding-bottom: 20px;
    }
    // Repositionning h1
    .flexH1Index {
      justify-content: flex-end;
    }
  }
  .imgContainerHeader {
    display: none;
  }
  // End of home page header

  // First section
  .firstSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  // End of first section

  // Second section
  //Index second section
  .secondSection {
    article {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  // First row of the second section
  .firstRow {
    // Changing flex direction to display image and text on top of each other
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    figure {
      width: 100%;
      position: static;
      margin-bottom: 100px;
      margin-top: 30px;
      img {
        box-shadow: 0px 0px 0px 16px $primaryYellow;
      }
    }
  }
  // Second row of the second section
  .secondRow {
    // Changing flex direction to display image and text on top of each other
    display: flex;
    flex-direction: column;
    figure {
      width: 100%;
      position: static;
      margin-top: 30px;
      img {
        box-shadow: 0px 0px 0px 16px $primaryYellow;
      }
    }
  }
  // End of second section home page

  //Third section home page
  .thirdSection {
    // Changing flex direction to display  every article on top of each other
    .flexThirdSection {
      flex-direction: column;
      align-items: center;
    }
    article {
      width: 100%;
    }
  }
  // End of third section home page

  //Fourth section (About) section home page
  .flexAbout {
    // Changing flex direction to display image and text on top of each other
    display: flex;
    flex-direction: column;
    figure {
      width: 80%;
      box-shadow: 0px 0px 0px 16px $primaryYellow;
      margin-bottom: 40px;
      text-align: center;
      margin-right: 0;
    }
    article {
      text-align: center;
      align-items: center;
      width: 100%;
    }
  }
  // End of about section
  // ---------------Home page media queries ends here---------------//

  // ---------------Blog page media queries starts here---------------//

  // Blog Header
  // Repositionning h1
  .blogH1 {
    text-align: right;
  }
  .headerBlog {
    nav {
      background-color: transparent;
    }
    // Changing flex direction to display every menus on top of each other
    ul {
      flex-direction: column;
    }
  }
  // End of blog header

  // Blog section
  // First part (initially on the left)
  .flexBlogSection {
    // Changing flex direction to display image and text on top of each other
    flex-direction: column;
  }
  .blogFirstSection {
    padding-bottom: 50px;
    width: 100%;

    figure {
      width: 100%;
      box-shadow: 0px 0px 0px 16px white;
    }

    article {
      width: 100%;
      text-align: center;
      align-items: center;
      box-shadow: 0px 0px 0px 16px white;
    }
  }
  // Second part (initailly on the right)
  .blogSecondSection {
    width: 100%;

    .plantPicture {
      box-shadow: 0px 0px 0px 16px $primaryYellow;
      margin-top: 200px;
      width: 100%;
    }
    article {
      border: none;
    }
  }
}
// ---------------Blog page media queries ends here---------------//

// ---------------Contact page media queries starts here---------------//
// Max width is a big bigger for the contact section. if I use the same as other section, the contact box was ovveriding the title of the page that's why I choose 820px
@media (max-width: 820px) {
  // Contact header
  .contactH1 {
    //Repositioning h1
    text-align: right;
  }
  .headerContact {
    nav {
      background-color: transparent;
    }
    // Changing flex direction to display every menus on top of each other
    ul {
      flex-direction: column;
    }
  }
  // End of contact header

  //Contact section
  .flexSection {
    // Changing flex direction to display blog form and text on top of each other
    flex-direction: column-reverse;
    width: 100%;
  }
  // Restyling contact form
  .contactForm {
    position: static;
    box-shadow: none;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 0px 16px $primaryYellow;
    input {
      width: 100%;
    }
    .flexForm {
      flex-direction: column;
    }
  }
  // Using flex to display social media icons and email address side by side
  .flexContact {
    display: flex;
    align-items: center;
  }

  .flexAdress {
    text-align: center;
    margin-bottom: 20px;
  }
}
// ---------------Contact page media queries ends here---------------//
// ---------------Media Queries ends here---------------//
