@use "variables" as *;
nav{
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  p {
    font-family: $primaryFont;
  }
  li {
     padding: 20px;
    color: $primaryWhite;
  }
  a {
    color: $primaryWhite;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 0.75rem;
  }
}

nav ul a:hover, nav ul a:focus{
  color: $primaryYellow;
}
.title {
  font-size: 2rem;
  margin: 0;
}
.navContact,
.navBlog {
  background-color: $primaryBlack;
}
