@use "variables" as *;


nav ul{
  display: flex;
  p {
    font-family: $primaryFont;
  }
  li {
     padding: 20px 50px 20px 0;
    color: $primaryWhite;
  }
  a {
    color: $primaryWhite;
    font-family: $primaryFont;
    font-weight: 700;
    font-size: 0.75rem;
  }
  
}
.dynamicMenu{
  display: flex;
  align-items: center;
}
nav ul a:hover, nav ul a:focus{
  color: $primaryYellow;
}
.title {
  font-size: 2rem;
  margin: 0;
}
.navContact,
.navBlog {
  background-color: $primaryBlack;
}
.blogBlog {
  color: $primaryYellow;
}

.Home {
  color: $primaryYellow;
}

.Contact {
  color: $primaryYellow;
}

.menuOpen {
  color: transparent;
}
.menuClose{
color: transparent;
}