// Adding variables for font-family and colors
@use "variables" as *;

// ---------------Styling starts here---------------//

// ---------------First section styling starts here---------------//
// Global section styling
.firstSection {
  background-color: $primaryWhite;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
// Using flex to display every element on top of each other
.flexFirstSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// ---------------First section styling ends here---------------//
// ---------------Hidden section styling starts here---------------//
.hiddenSection {
  text-align: center;
  width: 60%;
  display: none;
  background-color: white;
  position: absolute;
  z-index: 10;
  opacity: 0.95;
  box-shadow: 0px 0px 0px 22px $primaryYellow;
  padding: 20px;
}
// styling button that open and close the hidden section. I adapted the code from code: https://codepen.io/burntcustard/pen/BKbLvq
.openButton {
  box-shadow: 0 4px 0 $primaryGreen, 0 4px 0 $secondaryGreen,
    0 4px 6px black;
    transition: 0.3s;
}
.openButton:hover {
  box-shadow: 0 1px 2px $primaryGreen;
  transform: translateY(4px);
}
.openButton:active {
  background-color: $primaryGreen;
}

.closeButton {
  box-shadow: 0 4px 0 $primaryGreen, 0 4px 0 $secondaryGreen,
  0 4px 6px black;
  cursor: pointer;
  transition: 0.3s;
}
.closeButton:hover {
  box-shadow: 0 1px 2px $primaryGreen;
  transform: translateY(4px);
}
.closeButton:active {
  background-color: $primaryGreen;
}
// ---------------Hidden section styling ends here---------------//
// ---------------Second section styling starts here---------------//
//Global section styling
.secondSection {
  padding-top: 100px;
  padding-bottom: 100px;
}

//Styling of the first row

.firstRow {
  //using flex to display article and figure side by side
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
  //First row figure styling
  figure {
    width: 52%;
    position: relative;
    top: -125px;
    left: -110px;
    img {
      box-shadow: 22px 22px 0px -3px $primaryYellow;
    }
  }
  //First row article styling
  article {
    width: 40%;
  }
}

//Styling of the second row
.secondRow {
  //using flex to display article and figure side by side
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -100px;
  //Second row figure styling
  figure {
    width: 52%;
    img {
      box-shadow: -22px 22px 0px -3px $primaryYellow;
    }
    position: relative;
    bottom: -125px;
    right: -110px;
  }
  //Second row article styling
  article {
    width: 43%;
    text-align: right;
  }
}
//-----------------Second section styling ends hereg-----------------------//

// ---------------Third section styling starts here---------------//
// Global section styling
.thirdSection {
  background-color: $primaryWhite;
  padding-top: 150px;
  padding-bottom: 100px;
}

// Using flex to display articles side by side
.flexThirdSection {
  display: flex;
}
// Styling article
.thirdSection {
  article {
    width: 50%;
    position: relative;
    padding-left: 100px;
    margin-bottom: 30px;
  }
  // positioning the icon relative to the article and styling it
  span {
    color: $primaryBlack;
    position: absolute;
    left: 40px;
    background-color: $primaryYellow;
    border-radius: 50%;
    padding: 10px;
  }
}
//-----------------Third section styling ends here-----------------------//

//-----------------Fourth section styling starts here-----------------------//

//Flexing the div that contain every slides
.carousselContainer{
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}
//Display every slide side by side
.slideContainer{
  flex: 1 0 100%;
}
//Styling previous and next button
// Using flex to center icons
.carousselIcons{
  display: flex;
  justify-content: center;
}
.previous {
  transition: 0.5s;
  padding:10px;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}
.next{
  transition: 0.5s;
  padding:10px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.previous:hover, .next:hover, .previous:focus, .next:focus{
  background-color: $primaryGreen;
  color: $primaryYellow;
}

//-----------------Fourth section styling ends here-----------------------//

//-----------------Fifth section styling starts here (About)-----------------------//
// Global section styling
.about {
  background-color: $primaryWhite;
  padding-top: 100px;
  padding-bottom: 100px;
  // Styling of the image
  figure {
    width: 300px;
    box-shadow: 22px 22px 0px -3px $primaryYellow;
    margin-right: 50px;
  }
  // Styling of the text element
  article {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  // Styling of the button
  .button {
    width: 200px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 4px 0 $primaryGreen, 0 4px 0 $secondaryGreen,
  0 4px 0px black;
    cursor: default;
  }
}
// Styling expand buttons
// Showig all button allign vertically
.aboutButton{
  display: flex;
  align-items: flex-end;
 
}
// Styling show more and show less button
.more{
  position: relative;
  z-index: 10;
  background-color: $secondaryGreen;
  color: white;
  padding: 6.5px 10px 12.5px 10px;
  box-shadow: 0 4px 0 $primaryGreen, 0 4px 0 $secondaryGreen,
  0 4px 0px black;
 cursor: pointer;
}

.less{
  position: relative;
  right: 49px;
  background-color: $primaryYellow;
  color: black;
  padding: 6.5px 10px 12.5px 10px;
  display: none;
  box-shadow: 0 4px 0 $primaryGreen, 0 4px 0 $secondaryGreen,
  0 4px 0px black;
  cursor: pointer;
}
.more:hover, .more:focus  {
  background-color: $primaryYellow;
  color: black;
}
.less:focus, .less:hover {
  background-color: $secondaryGreen;
  color: white;
}
// Adding an animation on the text created with Javascript
.newText{
  animation: down 0.5s 1;
}
@keyframes down{
  0%{
    transform: translateY(-30px);
  
  }
  100%{
    transform: translateY(0);
    
  }
}
// using flex to display figure and article side by side
.flexAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//-----------------Fifth section styling ends here (About)-----------------------//

//-----------------Sixth section styling starts here (Gallery)-----------------------//
//Global section styling
.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}
// Using flex to display images side by side
.flexGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.flexGallery li {
  flex-basis: 380px;
}

//-----------------Sixth section styling ends here (Gallery)-----------------------//
// ---------------Styling ends here---------------//
