@use "variables" as *;

// Section 1 styling

.firstSection {
  background-color: $primaryWhite;
  height: 100vh;

  p {
    text-align: center;
  }
}
// Using flex to display every element on top of each other
.flexFirstSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//-----------------End of  section 1 styling-----------------------//

// Section 2 Styling
.secondSection {
  position: relative;
  height: 110vh;
}
//using flex to display article and figure side by side
.firstRow {
  display: flex;
  justify-content: flex-end;
}
//using flex to display article and figure side by side
.secondRow {
  display: flex;
  justify-content: flex-start;
}

//Positioning figure
.firstRow figure {
  width: 43%;
  position: absolute;
  left: 0;
  top: -50px;
  box-shadow: 27px 27px 0px -3px $primaryYellow;
}
.secondRow figure {
  width: 43%;
  box-shadow: -27px 27px 0px -3px $primaryYellow;
  position: absolute;
  right: 0;
  bottom: -60px;
}
//Positionning article
.firstRow article {
  width: 50%;
  padding-right: 80px;
  padding-left: 100px;
  position: absolute;
  top: 70px;
}

.secondRow article {
  width: 50%;
  text-align: right;
  padding-right: 80px;
  padding-left: 100px;
  position: absolute;
  bottom: 30px;
}

//-----------------End of  section 2 styling-----------------------//

//Section 3 styling

.thirdSection {
  background-color: $primaryWhite;
  padding-top: 150px;
}
// Using flex to display articles side by side
.flexThirdSection {
  display: flex;
}

.thirdSection article {
  width: 50%;
  position: relative;
  padding-left: 100px;
  margin-bottom: 30px;
}
// Positioning icons depeding on the article
.thirdSection span {
  color: $primaryBlack;
  position: absolute;
  left: 40px;
  background-color: $primaryYellow;
  border-radius: 50%;
  padding: 10px;
}
//-----------------End of  section 3 styling-----------------------//

//Section about styling
.fourthSection {
  margin: 0;
  padding: 0;
}
//-----------------End of  section 4 styling-----------------------//

//Section 5 styling
.about {
  background-color: $primaryWhite;
}
.flexAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about figure {
  box-shadow: 27px 27px 0px -3px $primaryYellow;
}

.about article {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.about button {
  width: 200px;
}

//-----------------End of  section 4 styling-----------------------//

// Gallery styling
// Using flex to display images side by side
.flexGallery {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  li {
    flex-basis: calc(100% / 3);
  }
}
// End of section styling
