// Adding variables for font-family and colors

@use "variables" as *;

// ---------------Styling starts here---------------//
//Global styling of the section
.BlogSection {
  background-color: $primaryWhite;
}
// using  flex to show 2 part of the section side by side
.flexBlogSection {
  display: flex;
  justify-content: space-between;
}

// ---------------First part of the section (blogFirstSection) styling starts here---------------//

// using flex to display image and article on top of each other. Styling figure and article
.blogFirstSection {
  width: 30%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  article {
    padding: 20px 20px 10px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 22px 0px 0px 0px white;
    h2 {
      font-size: 1rem;
    }
    ul {
      list-style: disc;
      padding-left: 25px;
    }
  }
  figure {
    width: 130%;
    box-shadow: 43px 21px 0px -21px white;
  }
}
.blogFirstArticle {
  p {
    a {
      color: $primaryGreen;
    }
  }
}
// ---------------First part of the section (blogFirstSection) styling ends here---------------//

// ---------------Second part of the section (blogSecondSection) styling starts here---------------//

//Global section styling + using flex to display the 4 elements (image, article, comment and form on top of each other)+ using positioning to position the entire section

.blogSecondSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 200px;
}
// Picture styling
.plantPicture {
  width: 120%;
  box-shadow: -22px 22px 0px -3px $primaryYellow;
}
// article Styling
.blogSecondArticle {
  border-left: 5px solid $primaryYellow;
  border-bottom: 5px solid $primaryYellow;
  padding-left: 40px;
  margin-bottom: 40px;
  margin-left: -19px;
  h2 {
    padding-top: 100px;
  }
  h3 {
    padding-bottom: 30px;
    font-size: 1rem;
  }
  .blogDate {
    color: $primaryGreen;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

// Comment section styling
// Using flex to display the user picture and his comment side by side
.comment {
  display: flex;
  padding-bottom: 30px;
  h4 {
    font-size: 1rem;
  }
  .profile1 {
    width: 350px;
  }
  .profile2 {
    width: 265px;
  }
  article {
    padding-left: 30px;
  }
}

// Contact form styling
// Using flex to display name and email side by side
.blogFlexForm {
  display: flex;
  justify-content: space-between;
}

//Using flex to display every form element on top of each other
.blogForm {
  display: flex;
  flex-direction: column;
  input {
    width: 48%;
    border-width: 0 0 1px 0;
    border-color: $secondaryGreen;
    padding: 20px;
    margin-bottom: 30px;
    font-family: $primaryFont;
    background-color: $primaryWhite;
    line-height: 32px;
  }
  textarea {
    border: 1px solid $secondaryGreen;
    padding: 30px;
    background-color: $primaryWhite;
    font-family: $primaryFont;
  }
  button {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
// ---------------Second part of the section (blogSecondSection) styling ends here---------------//
// ---------------Styling ends here---------------//
