@use "variables" as *;

// Section 1 styling

.firstSection {
  background-color: $primaryWhite;
  padding-top: 200px;
  padding-bottom: 200px;
  h2{
    text-align: center;
  }
  p {
    text-align: center;
  }
}
// Using flex to display every element on top of each other
.flexFirstSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//-----------------End of  section 1 styling-----------------------//

// Section 2 Styling
.secondSection {
 position: relative;
 padding-top:100px;
 padding-bottom: 50px;
}
//using flex to display article and figure side by side
.firstRow {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 90px;
}


//Positioning figure
.firstRow figure {
  width: 43%;
  position: absolute;
  left: 0;
  top: -45px;
  box-shadow: 27px 27px 0px -3px $primaryYellow;
}
.secondRow figure {
  width: 43%;
  box-shadow: -27px 27px 0px -3px $primaryYellow;
  position: absolute;
  right: 0;
  bottom: -80px;
}
//Positionning article
.firstRow article {
  width: 42%;
  margin-top: -20px;
}

.secondRow article {
  width: 43%;
  text-align: right;
 
}

//-----------------End of  section 2 styling-----------------------//

//Section 3 styling

.thirdSection {
  background-color: $primaryWhite;
  padding-top:150px;
  padding-bottom: 100px;
}
// Using flex to display articles side by side
.flexThirdSection {
  display: flex;
}

.thirdSection  {
  article{
  width: 50%;
  position: relative;
  padding-left: 100px;
  margin-bottom: 30px;
}
  span {
    color: $primaryBlack;
    position: absolute;
    left: 40px;
    background-color: $primaryYellow;
    border-radius: 50%;
    padding: 10px;
  }
}
 
//-----------------End of  section 3 styling-----------------------//

//Section 4 styling
 //Nothing to style here
//-----------------End of  section 4 styling-----------------------//

//Section 5 styling: About section
.about {
  background-color: $primaryWhite;
  padding-top:100px;
  padding-bottom: 100px;
  p{
    margin: 0;
  }
  figure {
    width: 300px;
    box-shadow: 27px 27px 0px -3px $primaryYellow;
    margin-right: 50px;
  }
  article {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  .button {
    width: 200px;
    margin-top: 40px;
    text-align: center;
  }
}
// using flex to display figure and article side by side
.flexAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//-----------------End of  section 5 (about) styling-----------------------//

// Gallery styling
.Gallery{
  padding-top:100px;
  padding-bottom: 100px;
}
// Using flex to display images side by side
.flexGallery {
  display: flex;
   flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.flexGallery li {
  flex-basis: 380px;
}



 
// End of section styling
