@use "variables" as *;

// Section contact styling

.contactSection {
  // position: relative;
  background-color: $primaryWhite;
  p {
    margin: 0;
    padding: 0;
  }
}
.contactInfos {
  padding-bottom: 80px;
}
.email {
  font-family: $primaryFont;
  line-height: 60px;
}
// Using flex to display infos and contact form side by side
.flexSection {
  display: flex;
  justify-content: space-between;
   align-items: center;
}


// Using flex to display name and adresse form side by side
.flexForm {
  display: flex;
  justify-content: space-between;
}
// Styling of form
.contactForm {
   width: 70%;
  background-color: White;
  padding: 30px;
  box-shadow: -22px 22px 0px -3px $primaryYellow;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 30px;
  bottom: 250px;
}

.flexSocial {
  display: flex;
}
.fa {
  padding-right: 20px;
  color: $secondaryGreen;
}

// Contact form styling
.contactForm input {
  width: 49%;
  border-width: 0 0 1px 0;
  border-color: $secondaryGreen;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: $secondaryFont;
  line-height: 32px;
}
.contactForm textarea {
  border: 1px solid $secondaryGreen;
  padding: 30px;
  font-family: $secondaryFont;
}
.contactForm button {
  margin-top: 50px;
  margin-bottom: 20px;
  
}
