
// Defining colors variables
$primaryBlack: #2c2c2c;
$primaryYellow: #f8e71c;
$primaryWhite: #f0efed;
$primaryGreen: #074115;
$secondaryGreen: #0f902d;

// Defining font-family variables
$primaryFont: "Josefin Sans", sans-serif;
$secondaryFont: "Roboto", sans-serif;
