


@use "partials/setup";
@use "partials/footer";
@use "partials/nav";
@use "partials/headerIndex";
@use "partials/variables" as *;
@use "partials/sectionHeader";

p,
a {
  font-family: $secondaryFont;
}

h2,
h3,
h4 {
  font-family: $primaryFont;
  font-weight: 700;
  margin: 0;
}

section{
  padding-top: 100px;
  padding-bottom: 100px;
}

button{
  color:$primaryWhite;
  background-color: $secondaryGreen;
  font-family: $primaryFont;
  border: none;
  padding: 10px 25px;
}

figure{
  margin: 0;
}